# 03-Python_Programming_Basic_Assignment: 
## Assignment 02

### 1. Write a Python program to convert kilometers to miles?

In [ ]:
print(f'Distance in miles ={float(input("Enter distance in kilometer:"))*0.621371:.2f}')

Enter distance in kilometer:12.3
Distance in miles =7.64

### 2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
print(f'Temprature in  fahrenheit={float(input("Enter temprature in  Celsius:"))*1.8+32}')

Enter temprature in  Celsius:23
Temprature in  fahrenheit=73.4

### 3. Write a Python program to display calendar?

In [ ]:
from calendar import calendar
print(calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

### 4. Write a Python program to solve quadratic equation?

In [ ]:
from cmath import sqrt
#a,b,c=int(input("ENter a:")),int(input("ENter b:")),int(input("ENter c:"))
a,b,c=1,-3,2
sdd2a,bd2a=sqrt((b**2)-(4*a*c))/(2*a),-b/(2*a)
print(f"Soulutions are {bd2a+sdd2a} and {bd2a-sdd2a}")

Soulutions are (2+0j) and (1+0j)

### 5. Write a Python program to swap two variables without temp variable?

In [ ]:
a,b=16,1
print(f"a:{a} , b:{b}")
a,b=b,a
print(f"a:{a} , b:{b}")

a:16 , b:1
a:1 , b:16